<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head.ejs', {titulo: 'Detalles', cssSheets:
  'styles_product_detail'}) %>
  <body>
    <!-- Header -->
    <%- include('../partials/header.ejs'); %>

    <!-- Main -->
    <main>
      <article>
        <section>
          <img src="/images/users/<%= user.image %>" />
          <div><%= user.email %></div>
        </section>
        <section>
          <ul>
            <li><a href="/user/edit">Editar perfil</a></li>
            <a role="button" href="/user/delete"><button type="button">Borrar usuario</button></a>
            <li><a href="/user/logout">Logout</a></li>
          </ul>
        </section>
      </article>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs'); %>
  </body>
</html>
