<!DOCTYPE html>
<html lang="es-AR">
  <%- include ('../partials/head.ejs', {titulo: 'Detalles', cssSheets: 'styles_product_detail'}) %>

  <body class="body">
    <%- include ('../partials/header.ejs') %>
    <!-- Main: 2 sections, 3 articles -->
    <main class="main">
      <!-- Section 1: image -->
      <section class="main-section">
        <img
          class="main-section-img"
          src="/images/products/<%=product.image%>"
        />
      </section>
      <!-- Section 2: 3 articles - name, description, pay details - button add to cart -->
      <section class="main-section-2">
        <!-- Article 1: name  -->
        <article class="main-section-article">
          <h1 class="main-section-article-h1"><%=product.name%></h1>
          <h2 class="main-section-article-h2">
            <%=product.shortDescription%>
          </h2>
          <div class="main-section-article-price">
            <%=product.price%> 
            <% if (product.coin == "1") { %> 
              <span><img class="main-section-article-ul-img-1" src="/images/btc-logo.svg"/></span>
          
            <% }else if(product.coin == "2") { %> 
              <span><img class="main-section-article-ul-img-1" src="/images/eth-logo.svg"/></span>
      
            <% }else { %>
              <span><img class="main-section-article-ul-img-1" src="/images/usdt-logo.svg"/></span>

            <% } %>
          </div>
        </article>
        <!-- Article 2: description -->
        <article class="main-section-article-2">
          <div class="main-section-article-div">
            <h3 class="main-section-article-h3">Descripción</h3>

            <p class="main-section-article-ul"><%=product.description%></p>
          </div>
        </article>
      

        <!-- Article 3: pay details, button add to cart -->
        <article class="main-section-article-2">
          <div class="main-section-article-div-2">
            <h3>Detalle de pago</h3>
            <div>
              <ul>
                <li class="main-section-article-ul-li">
                  <% if (product.coin == 'USDT') { %>
                    <%= product.price  %>  <img class="main-section-article-ul-img-1" src="/images/usdt-logo.svg"/> 
                  <% } else if (product.coin == 'Bitcoin') { 
                    let numberToShow = product.price * 50000 %>
                    <%= numberToShow  %>  <img class="main-section-article-ul-img-1" src="/images/usdt-logo.svg"/>
                  <% } else { 
                    let numberToShow = product.price * 4000 %>
                    <%= numberToShow  %>  <img class="main-section-article-ul-img-1" src="/images/usdt-logo.svg"/>
                  <% } %>
                </li>
                <li class="main-section-article-ul-li-2">
                  <% if (product.coin == 'USDT') { 
                    let numberToShow = product.price / 50000 %>
                    <%= numberToShow  %> <img class="main-section-article-ul-img-2" src="/images/btc-logo.svg"/> 
                  <% } else if (product.coin == 'Bitcoin') { %>
                    <%= product.price %> <img class="main-section-article-ul-img-2" src="/images/btc-logo.svg"/>
                  <% } else {
                    let numberToShow = product.price * 0.08 %>
                    <%= numberToShow %> <img class="main-section-article-ul-img-2" src="/images/btc-logo.svg"/>
                  <% } %>
                </li>
                <li class="main-section-article-ul-li-2">
                  <% if (product.coin == 'USDT') { 
                    let numberToShow = product.priceProduct * 0.00025 %>
                    <%= numberToShow  %> <img class="main-section-article-ul-img-2" src="/images/eth-logo.svg"/> 
                  <% } else if (product.coin == 'Bitcoin') { 
                    let numberToShow = (product.priceProduct * 12.24).toFixed(2) %>
                    <%= numberToShow %> <img class="main-section-article-ul-img-2" src="/images/eth-logo.svg"/>
                  <% } else { %>
                    <%= product.priceProduct %> <img class="main-section-article-ul-img-2" src="/images/eth-logo.svg"/>
                  <% } %>
                </li>
              </ul>
            </div>
            <div class="main-section-article-button">
              <button class="main-section-article-button-2" type="submit">
                Agregar al carrito
              </button>
            </div>
          </div>
        </article>
      </section>
    </main>
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
