<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs', {titulo: 'Edición de Productos' , cssSheets: 'styles_edit_products' }) %>

    <body>
        <%- include ('../partials/header.ejs') %>
        <div class="white-form-box">
            <!-- CLASE QUE CONTIENE A TODO EL FORMULARIO-->
            <div class="logo">
                <img class="imagen-paycript-formulario" src="/images/paycrypt-logo.svg" alt="">
            </div>

            <div class="title">
                <p>Editá tu producto</p>
            </div>

            <!-- CAJA FLEX DEL  FORMULARIO-->
            <form class="form" action="/product/edit/<%= productSent.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                
                <div class="form-left">
                    <div>
                        <label for="name"></label>
                        <input class="formulario-control" maxlength="50" type="text" name="name" id="nombre" placeholder="Nombre Producto" value="<%= productSent.name %>">
                        <!--NOMBRE DEL PRODUCTO-->
                    </div>

                    <div>
                        <label for="shortDescription"></label>
                        <input class="formulario-control" type="text" name="shortDescription"
                            id="shortDescription" placeholder="Descripcion Corta" value="<%= productSent.shortDescription %>"> 
                            <!-- DESCRIPCION CORTA DEL PRODUCTO-->
                    </div>

                    <div>
                        <label for="priceProduct"></label>
                        <input class="formulario-control" type="text" name="priceProduct" id="priceProduct"
                            placeholder="Precio" value="<%= productSent.priceProduct %>">
                        <!--PRECIO PRODUCTO-->
                    </div>

                    <div>
                        <label for="description"></label>
                        <textarea class="large-description"  name="textarea"><%= productSent.description %></textarea>
                        <!-- DESCRIPCION LARGA DEL PRODUCTO-->
                    </div>

                    <div>
                        <label for="location"></label>
                        <input class="formulario-control" type="text" name="location" id="location"
                            placeholder="Ubicación del producto" value="<%= productSent.location %>">
                        <!--LOCATION DEL PRODUCTO-->
                    </div>
                    
                </div>

                <div class="form-rigth">
                    <label for="category">Seleccione una categoría:</label>
                    <div class="category-product">
                        <!-- CATEGORIA PRODUCTOS -->

                        <div class="radio-left">
                            <p><input type="radio" name="category" value="Vehiculos" /> Vehículos</p>
                            <p><input type="radio" name="category" value="Inmuebles" /> Inmuebles</p>
                            <p><input type="radio" name="category" value="Tecnologia" /> Tecnología</p>
                        </div>
                        <div class="radio-rigth">
                            <p><input type="radio" name="category" value="Deportes" /> Deportes</p>
                            <p><input type="radio" name="category" value="NFT" /> NFT</p>
                            <p><input type="radio" name="category" value="Mineria" /> Minería</p>
                        </div>
                    </div>

                    <p>Elija su moneda de pago:</p></br>
                    <div class="checkboxes">
                        <div>
                            <input type="checkbox" name="coin" value="Bitcoin" id="Bitcoin">
                            <label for="Bitcoin">Bitcoin</label>
                        </div>
                        <div>
                            <input type="checkbox" name="coin" value="Ethereum" id="Ethereum">
                            <label for="Ethereum">Ethereum</label>
                        </div>
                        <div>
                            <input type="checkbox" name="coin" value="USDT" id="USDT">
                            <label for="USDT">USDT</label>
                        </div>
                    </div>

                    <div class="photoProducts">
                        <label for="photoProducts">
                            <div class="img-up"><i class="fas fa-upload"></i> Subir Imagen</div>
                        </label> <!-- IMAGEN DEL PRODUCTO-->
                        <input type="file" name="photoProduct" id="photoProduct" accept=".jpg" value="<%= productSent.photoProduct %>">
                    </div>
                </div>

                <div class="both-buttons">
                    <div class="edit-button">
                        <button type="submit">Editar producto</button>
                    </div>
                    
                    <form class="delette-button" action="/product/delete/<%= productSent.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                        <button type="submit" class="boton-formulario-eliminar">Eliminar</button>
                    </form>
                </div>
            </form>
        </div>
    </body>
</html>